:root {
    --md-primary-fg-color:        #3DCD58;
    --md-primary-fg--light:        #3DCD58;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #3DCD58;
    --md-primary-fg--light:        #3DCD58;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #2a8039;
}

.md-grid {
    max-width: 1600px;
}

@media screen and (min-width: 2000px) {
    .md-grid {
        max-width: 1900px;
    }
}

nav.md-footer__inner {
    display: none;
}

.list-box-container {
    display: flex;
    flex-wrap: wrap;
}

.list-box {
    width: calc(33% - 32px); 
    background-color: var(--md-code-bg-color);
    margin: 16px;
    padding: 32px;
}

@media screen and (max-width: 1600px) {
    .list-box {
        width: calc(50% - 32px); 
    }
}

@media screen and (max-width: 640px) {
    .list-box {
        width: calc(100% - 32px); 
    }
}

.list-box figure {
    height: 250px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}

.list-box figure img {
    width: 300px;
    height: 150px;
    object-fit: contain;
}

.md-header__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
